.top {
	padding: 5px;
    position: fixed;
    width: 100%;
    background-color: #80808052;
    height: 25px;
}
.fix {
	float: right;
    padding: 4px;
    margin-right: 5px
    color: purple;
}
body {
	margin: 0;
	font-family: sans-serif;
}
h1 {
	display: inline;
}
.Search {
    margin-left: 16%;
    top: 64px;
    position: relative;
}
image {
	width: 25px;
	height: 25px;
}
.magnifying-glass {
	width: 25px;
    height: 25px;
    vertical-align: middle;
}
.bar {
	width: 43%;
}
.lable {
	display: block;
}
ul {
	margin: 0px;
	padding: 0px;
	width: 35%;
	margin-top: 24px;
}
li {
	display: table-cell;
    text-align: center;
    border: solid 1px;
    font-size: 12px;
    padding: 4px;
}
.block {
    top: 70px;
    position: relative;
    margin-left: 16%;
    width: 100%;
}
.results {
	margin-left: 16%;
    margin-top: 121px;
    color: grey;
}
span {
	color: blue;
}
a:link {
	text-decoration: none;
	color: blue;
}
a:visited {
	color: purple;
}